@media screen and (max-width: 1024px) {
  .content {
    padding: 0 16px;
  }
}

.questionFont {
  font-family: "DejaVu Serif", Georgia, Serif;
  font-style: 'italic';
  font-size: 50px;
  margin-top: 60px;
}
